<<<<<<< Updated upstream

body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 10%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}


head {
    background-color: rgb(48, 39, 42)
}

nav { 
    background-color: lightskyblue;
    padding: 5%;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #4264c0;
    overflow: auto;
}

li {
    float: left;

}

li a {
    display: block;
    text-align: center;
    padding: 10px 50px;
    border: rgb(47, 45, 194);
    border-style: inset;
    color: white;

    size: 32px;



}

main img {
    width: 250px;
    padding: 5px;

}

ExitMain img {
    width: 500px;
    padding: 5px;

}

body {
    background-color: rgb(28, 86, 105);
}

h1 {
    color: navy;
    margin-left: 20px;
}

p.one {
    border-style: inset;
    border-width: 20px
    

}

li a:hover {
    background-color: rgb(71, 69, 243);

}


